<md-dialog aria-label="New habit" ng-cloak>
    <form ng-submit="saveHabit()">
        <md-dialog-content class="dialogContent">
            <h3 class="question">Habit details</h3>

            <div layout="column" class="dialogInput">
                <md-input-container flex="100" class="inputContainer">
                    <label>Habit Name</label>
                    <input name="name" ng-model="selectedHabit.name" required>

                    <div ng-messages="selectedHabit.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Habit Description</label>
                    <textarea name="description" ng-model="selectedHabit.description" columns="1" md-maxlength="300"
                              rows="3"></textarea>
                </md-input-container>
            </div>

            <h3 class="question">When is your target for making this a habit?</h3>

            <div layout="row" layout-sm="column" layout-align="start center" class="dialogInput">
                <md-input-container flex>
                    <label>Number of days</label>
                    <input required type="number" step="any" min="1"
                           max="1000" ng-model="selectedHabit.numDays" ng-change="updateDate()"/>
                </md-input-container>
                <md-datepicker ng-model="selectedHabit.endDate" md-placeholder="Enter date" ng-change="updateNumDays()"
                               md-date-filter="validateDate" flex></md-datepicker>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Cancel
            </md-button>
            <md-button type="submit" class="dialogDoneBtn">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>