<!DOCTYPE html>
<html lang="en" ng-app="dailyHabits">
<head>
    <meta charset="UTF-8">
    <title>Daily Habits</title>

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/diary-api/dist/diary-api.js"></script>
    <script src="js/main-controller.js"></script>
</head>
<body ng-controller="mainCtrl">
<div>
    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">My habits</md-subheader>

        <md-list-item ng-repeat="event in events">
            <md-checkbox ng-model="event.todo" ng-change="onEventChanged(event)"></md-checkbox>
            <p> {{ event.title }} </p>
            <md-icon class="md-secondary" ng-click="" aria-label="Chat" md-svg-icon="img/icons/ic_edit_48px.svg"></md-icon>
        </md-list-item>
    </md-list>
</div>
</body>
</html>